{{#modal}}
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div style="width: 80%" class="container my-5">
            <form
                hx-post="/suppliersDeclarationCreate"
                hx-target="#modal-content"
                hx-swap="innerHTML"
                hx-ext="json-enc"
            >
                <div class="col-12 mb-2">
                    <label for="itemId" class="form-label">Order number</label>
                    <input width="120" type="text" class="form-control" id="itemId" name="itemId" placeholder="DE000001_1" required>
                </div>
                {{#incorrect}}
                <div class="alert alert-danger" role="alert">
                    Unknown or incorrect order number
                </div>
                {{/incorrect}}
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
{{/modal}}
